{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add Raw Data to Mongo</h1>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{% url "add_raw_data_mongo" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="file" class="form-control-file" name="document" multiple="true" directory="true"/> <br>
                    <button type="submit" class="btn btn-primary btn-block">Upload to Database</button>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                {% for tower in towers %}
                    Tower Code: {{ tower.tower_code }} <br>
                    <br>

                    Raw Data:<br>

                    {% for raw in tower.raw_datas %}
                        {{ raw.time }} : {{ raw.data }} <br>
                    {% endfor %}

                    <hr>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}