{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Associate Towers to a user</h1>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{% url "associate_towers" %}" method="POST">

                    {% csrf_token %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
{#                        <div class="form-group">#}
{#                            {{ field.label_tag }}#}
{#                            {% render_field field class="form-control" %}#}
{#                        </div>#}

                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <div class="form-check">
                                    {{ field }}{{ field.label_tag }}
                                </div>
                            {% else %}
                                {{ field.label_tag }} {% if field.field.required %} *{% endif %}
                                {% render_field  field placeholder=field.label %}
                            {% endif %}
                        </div>

                    {% endfor %}


                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Submit">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    {% regroup utd by user as list %}
    <ul>
    {% for user in list %}
        <li>{{ user.grouper }}
        <ul>
            {% for c in user.list %}
              <li>{{ c }}</li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>

{% endblock %}