{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <link href="{% static 'css/highcharts.css' %}" rel="stylesheet">

    <div id="xrange123"></div>

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 timeline2">
            <h1 class="h3 mb-0 text-gray-800">Data Visualization</h1>
        </div>

<hr>
        <div class="d-sm-flex align-items-center justify-content-between mb-4" >
            <h1 class="h4 mb-0 text-gray-800">
                <a href="#" class="collapsed clickable" data-toggle="collapse" data-target="#TowerForm" aria-expanded="true" aria-controls="collapseTwo">
                    Choose Tower
                <i class="fas fa-angle-double-down fa-sm"></i>
                </a>
            </h1>
        </div>

        <div class="row collapse show" id="TowerForm" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="col-12">
                <form action="javascript:void(0);">
                    {{ form_tower.media }}
                    {% for field in form_tower %}
                        {% if field.name == "tower" %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field placeholder=field.label %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="submit" id="submit_tower" class="btn btn-primary btn-block" value="View Data">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
<hr>
        <div class="card shadow mb-4 collapse" id="ChartArea" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="card-header py-2">
                <h6 class="m-0 font-weight-bold text-primary text-center">Chart Visualization</h6>
            </div>
            <div class="container-fluid p-2">
                <h6 class="text-center">Choose new Dates to Filter</h6>
                <form action="javascript:void(0);">
                    <div class="row justify-content-center noPadding">
                        {{ form_tower.media }}
                        {% for field in form_tower %}
                            {% if field.name == "begin_date_search" or field.name == "end_date_search" %}
                                <div class="col-md">
                                    {% render_field field placeholder=field.label %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-md">
                            <input type="submit" id="submit_new_date" class="btn btn-primary btn-block" value="Filter">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">

                <div id="myHighChart" style="height: 600px;"></div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            <button id="button_chart2" class="btn btn-success btn-block">Hide series</button>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
                <script type="text/javascript" src="https://code.highcharts.com/js/modules/xrange.js"></script>
                <script type="text/javascript" src="https://code.highcharts.com/js/modules/exporting.js"></script>
                <script type="text/javascript" src="{% static 'js/highcharts_df.js' %}"></script>

            </div>
        </div>


        <div class="collapse" id="FilterForm" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <hr>

            <div class="d-sm-flex align-items-center justify-content-between mb-4 timeline2">
                <h1 class="h3 mb-0 text-gray-800">Classify and Comment</h1>
            </div>

            <div class="row">
                <div class="col-12">
                    <form action="javascript:void(0);" id="formchart">
                        {{ form_tower.media }}
                        {% csrf_token %}
                        {% for field in form_tower %}
                            {% if field.name != "tower" and field.name != "begin_date_search" and field.name != "end_date_search" %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {% render_field field placeholder=field.label %}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input type="submit" id="submit_classification" class="btn btn-primary btn-block" value="Classify">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>

        </div>

        <!-- THE MODAL WE WILL BE USING -->
        <div class="modal fade" id="modal-type">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>

        <!-- THE MODAL WE WILL BE USING -->
        <div class="modal fade" id="modal-type2">
            <div class="modal-dialog">
                <div class="modal-content">

                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Add a comment - Not mandatory</h4>
                    </div>
                    <div class="modal-body">
                        {% for field in form_comment %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="submit_comment" class="btn btn-primary">Submit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}