{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Home2</h1>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a href="{% url "chart_graphos" %}" class="btn btn-success btn-block">View graphos</a><br>

            </div>
            <div class="col-md-2">
                <a href="{% url "chart_nvd3" %}" class="btn btn-success btn-block">View nvd3</a><br>
            </div>
            <div class="col-md-2">
                <a href="{% url "chart_chartjs" %}" class="btn btn-success btn-block">View ChartJS</a><br>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <br>
                <a href="{% url "show_towers_data_mongo" %}">Show Towers Data Mongo</a><br>
                <a href="{% url "show_towers_data_influx" %}">Show Towers Data Influx</a><br>
                <a href="{% url "show_towers_data_pg" %}">Show Towers Data Postgres</a><br>
            </div>
        </div>

    </div>

{% endblock %}