<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary text-center">Periods Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm" id="dataTableConfPeriods" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Begin Data</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Begin Data</th>
                        <th>End Date</th>
                    </tr>
                </tfoot>
                <tbody>

                {% for p in periods %}
                    <tr>
                        <td class="align-middle p-2"><a href="{% url "view_conf_period" tower_id p.pk %}">{{ p.begin_date|date:'d/m/Y H:i' }}</a></td>
                        <td class="align-middle p-2"><a href="{% url "view_conf_period" tower_id p.pk %}">
                            {% if p.end_date %}
                                {{ p.end_date|date:'d/m/Y H:i' }}
                            {% else %}
                                None
                            {% endif %}
                        </a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>