{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">{{ name }} Type</h1>
        <p class="mb-4">This page shows the {{ name }} types on the system</a>.</p>

        <div class="row">
            <div class="col-md-12">
                <a href="{% url "add_type" type %}" class="btn btn-success">Add a new {{ name }} Type</a><br>
                <br>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-2">
                <h6 class="m-0 font-weight-bold text-primary text-center">{{ name }} Type Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm" id="dataTableType" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>

                        {% for obj in type_obj %}
                            <tr>
                                <td class="align-middle p-2"><a href="{% url "view_type" obj.pk type %}">{{ obj.name }}</a></th>
                                <td>
                                    <a href="{% url "view_type" obj.pk type %}" class="btn btn-sm btn-info">View - Edit</a>
                                    <a href="#" name="delete_type" data-id="{{ obj.pk }}" data-type="{{ type }}" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}