{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Users Association to Towers </h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{% url "add_associate_towers"  %}" class="btn btn-success">Add a new Association</a><br>
                <br>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-2">
                <h6 class="m-0 font-weight-bold text-primary text-center">Associations Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm" id="dataTableAssociations" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th>User</th>
                                <th>Begin Date</th>
                                <th>End Date</th>
                                <th>Towers</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>User</th>
                                <th>Begin Date</th>
                                <th>End Date</th>
                                <th>Towers</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>

                        {% for u in utd %}
                            <tr>
                                <td class="align-middle p-2"><a href="{% url "view_user" user.id %}">{{ u.user.full_name|title }}</a></td>
                                <td class="align-middle p-2">{{ u.begin_date }}</td>
                                <td class="align-middle p-2">{{ u.end_date }}</td>
                                <td class="align-middle p-2">
                                    {% for tower in u.tower.all %}
                                        <a href="{% url "view_tower" tower.pk %}" class="btn btn-sm btn-light">{{ tower.code|upper }}</a>
                                    {% endfor %}
                                </td>
                                <td class="align-middle p-2">
                                    <a href="{% url "view_associate_towers" u.pk %}" class="btn btn-sm btn-info">View - Edit</a>
                                    <a href="#" name="delete_associate_tower" data-id="{{ u.pk }}" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{#    {% regroup utd by user as list %}#}
{#    <ul>#}
{#    {% for user in list %}#}
{#        <li>{{ user.grouper }}#}
{#        <ul>#}
{#            {% for c in user.list %}#}
{#              <li>{{ c }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        </li>#}
{#    {% endfor %}#}
{#    </ul>#}

{% endblock %}