{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Equipments Type</h1>
        <p class="mb-4">This page shows the equipments types on the system</a>.</p>

        <div class="row">
            <div class="col-md-12">
                <a href="{% url "add_equipment_type" %}" class="btn btn-success">Add a new Equipment Type</a><br>
                <br>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-2">
                <h6 class="m-0 font-weight-bold text-primary text-center">Equipments Type Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm" id="dataTableEquipmentsType" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>

                        {% for equipment in equipments_type %}
                            <tr>
                                <td class="align-middle p-2"><a href="{% url "view_equipment_type" equipment.pk %}">{{ equipment.pk }}</a></th>
                                <td>
                                    <a href="{% url "view_equipment_type" equipment.pk %}" class="btn btn-sm btn-info">View - Edit</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


{% endblock %}