{% block tooltip %}
    {% if chart.custom_tooltip_flag %}
        {% if not chart.date_flag %}
            {% if chart.model == 'pieChart' %}
                {% block pietooltip %}
                {% endblock pietooltip %}
            {% else %}
                chart.tooltipContent(function(key, y, e, graph) {
                    var x = String(graph.point.x);
                    var y = String(graph.point.y);
                    {{ chart.tooltip_condition_string }}
                    tooltip_str = '<center><b>'+key+'</b></center>' + y + ' at ' + x;
                    return tooltip_str;
                });
{#                    chart.tooltip.contentGenerator(function(key, y, e, graph) {#}
{#                        var x = String(key.point.x);#}
{#                        var y = String(key.point.y);#}
{#                        {{ chart.tooltip_condition_string }}#}
{#                        tooltip_str = '<center><b>'+key.series[0].key+'</b></center>' + y + ' at ' + x;#}
{#                        return tooltip_str;#}
{#                    });#}
            {% endif %}
        {% else %}
            chart.tooltipContent(function(key, y, e, graph) {
            console.log("ASDASD", key)
                var x = d3.time.format("{{ chart.charttooltip_dateformat }}")(new Date(parseInt(graph.point.x)));
                var y = String(graph.point.y);
                {{ chart.tooltip_condition_string }}
                tooltip_str = '<center><b>'+key+'</b></center>' + y + ' on ' + x;
                return tooltip_str;
            });
{#                chart.tooltip.contentGenerator(function(key, y, e, graph) {#}
{#                    var x = d3.time.format("{{ chart.charttooltip_dateformat }}")(new Date(parseInt(key.point.x)));#}
{#                    var y = String(key.point.y);#}
{#                    {{ chart.tooltip_condition_string }}#}
{#                    tooltip_str = '<center><b>'+key.series[0].key+'</b></center>' + y + ' on ' + x;#}
{#                    return tooltip_str;#}
{#                });#}
        {% endif %}
    {% endif %}
{% endblock tooltip %}