{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">View-Edit user: {{ user.username }}</h1>
                </div>

                <form action="{% url "view_user" user.id %}" method="POST">

                    {% csrf_token %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <div class="form-check">
                                    {{ field }}{{ field.label_tag }}
                                </div>
                            {% else %}
                                {{ field.label_tag }}
                                {% render_field field placeholder=field.label %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-primary btn-block" value="Editar">
                            </div>
                            <div class="col-md-4">
                                {% if user.is_active %}
                                    <a href="#" name="ban_user" data-id="{{ user.id }}" class="btn btn-block btn-warning">Ban</a>
                                {% else %}
                                    <a href="#" name="ban_user" data-id="{{ user.id }}" class="btn btn-block btn-success">Activate</a>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <a href="#" name="delete_user" data-id="{{ user.id }}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </div>

                </form>
                <hr>

                {% if password_form %}
                    <div class="change_password">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
                        </div>
                        <hr>
                        <form action="{% url "view_user" user.id %}" method="post">
                            {% csrf_token %}

                            {% if password_form.errors %}
                                {% for field in account_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            {% for field in password_form %}
                                <div class="password-form form-group">
                                    {% if field.field.is_checkbox %}
                                        <div class="form-check">
                                            {{ field }}{{ field.label_tag }}
                                        </div>
                                    {% else %}
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                        {{ field.label_tag }}
                                        {% render_field  field placeholder=field.label %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <input type="submit" class="btn btn-primary btn-block" value="Edit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>


    </div>

{% endblock %}