{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <p><a href="{% url "view_tower" tower_id %}">Tower</a> / Period of Configuration
                </p>
            </div>
        </div>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true" aria-controls="collapseTwo">
                    View-Edit Period of Configuration: {{ period.begin_date|date:'d/m/Y H:i' }} -
                    {% if period.end_date %}
                        {{ period.end_date|date:'d/m/Y H:i' }}
                    {% else %}
                        None
                    {% endif %}
                    <i class="fas fa-angle-double-down fa-xs"></i>
                </a>
            </h1>
        </div>

        <div class="row collapse" id="collapseForm" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="col-12">
                <form action="{% url "view_conf_period" tower_id period_id %}" method="POST">

                    {% csrf_token %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <div class="form-check">
                                    {{ field }}{{ field.label_tag }}
                                </div>
                            {% else %}
                                {{ field.label_tag }}
                                {% render_field field placeholder=field.label %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary btn-block" value="Edit">
                            </div>
                            <div class="col-md-6">
                                <a href="#" name="delete_conf_period" data-id="{{ period_id }}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <hr>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="h3 mb-0 text-gray-800">Equipments Configurations</h2>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="{% url "add_equipment_config" tower_id period_id %}" class="btn btn-success">Add a new Equipment Configuration</a>
                <br><br>

                {% include "list_equipment_config.html" %}
            </div>
        </div>
    </div>

{% endblock %}