{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">View/Edit Cluster: {{ cluster.name }}</h1>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{% url "view_cluster" cluster_id %}" method="POST">

                    {% csrf_token %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
{#                        {% if field.name == "name" %}#}
{#                            <div class="form-group">#}
{#                                {{ field.label_tag }}#}
{#                                {% render_field field class="form-control" %}#}
{#                            </div>#}
{#                        {% endif %}#}

{#                        {% if field.name == "name" %}#}
                            <div class="form-group">
                                {% if field.field.is_checkbox %}
                                    <div class="form-check">
                                        {{ field }}{{ field.label_tag }}
                                    </div>
                                {% else %}
                                    {{ field.label_tag }}
                                    {% render_field  field placeholder=field.label %}
                                {% endif %}
                            </div>
{#                        {% endif %}#}

                    {% endfor %}

{#                <div style="height:500px;width:100%;border:1px solid #ccc;overflow:auto;">#}
{#                    {% for field in form %}#}
{##}
{#                        {% if field.name == "towers" %}#}
{#                            <div class="form-group">#}
{#                                {% if field.field.is_checkbox %}#}
{#                                    <div class="form-check">#}
{#                                        {{ field }}{{ field.label_tag }}#}
{#                                    </div>#}
{#                                {% else %}#}
{#                                    {{ field.label_tag }}#}
{#                                    {% render_field  field placeholder=field.label %}#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        {% endif %}#}
{##}
{#                    {% endfor %}#}
{#                </div>#}
{#                <br>#}

                    <!-- DataTales Example -->
{#                    <div class="card shadow mb-4">#}
{#                        <div class="card-header py-2">#}
{#                            <h6 class="m-0 font-weight-bold text-primary text-center">Towers in clusters</h6>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <div class="table">#}
{#                                <table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">#}
{#                                    <thead class="thead-light">#}
{#                                        <tr>#}
{#                                            <th>Code</th>#}
{#                                        </tr>#}
{#                                    </thead>#}
{#                                    <tfoot>#}
{#                                        <tr>#}
{#                                            <th>Code</th>#}
{#                                        </tr>#}
{#                                    </tfoot>#}
{#                                    <tbody>#}
{#                                        {% for field in form.towers %}#}
{#                                            <tr>#}
{#                                                <td>#}
{#                                                <div class="form-check">#}
{#                                                   {{ field }}{{ field.label_tag }}#}
{#                                                </div>#}
{#                                                </td>#}
{#                                            </tr>#}
{#                                        {% endfor %}#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary btn-block" value="Edit">
                            </div>
                            <div class="col-md-6">
                                <a href="#" name="delete_cluster" data-id="{{ cluster_id }}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>

{% endblock %}