{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">View-Edit Equipment: {{ equipment.designation }}</h1>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{% url "view_equipment" equipment_id %}" method="POST">

                    {% csrf_token %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <div class="form-check">
                                    {{ field }}{% if field.field.required %} *{% endif %}
                                    {{ field.label_tag }}
                                </div>
                            {% else %}
                                {{ field.label_tag }}{% if field.field.required %} *{% endif %}
                                {% if field.name == "type" %}
                                    <a href="#" class="js-create-type-equipment related-widget-wrapper-link add-related js-create-type-equipmen" id="add_id_type" title="Add another equipment type"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
                                {% endif %}
                                {% render_field field placeholder=field.label %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary btn-block" value="Edit">
                            </div>
                            <div class="col-md-6">
                                <a href="#" name="delete_equipment" data-id="{{ equipment_id }}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-type-equipment">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}