{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <p> <a href="{% url "view_tower" tower_id %}">Tower</a> /
                    <a href="{% url "view_conf_period" tower_id period_id %}">Period of Configuration</a> /
                    <a href="{% url "view_equipment_config" tower_id period_id equi_conf_id %}">Equipment Configuration</a> / Dimension
                </p>
            </div>
        </div>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                View-Edit Dimension: {{ dimension.column }}
            </h1>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{% url "view_dimension" tower_id period_id equi_conf_id dimension_id %}" method="POST">

                    {% csrf_token %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <div class="form-check">
                                    {{ field }}{% if field.field.required %} *{% endif %}
                                    {{ field.label_tag }}
                                </div>
                            {% else %}
                                {{ field.label_tag }}{% if field.field.required %} *{% endif %}
                                {% if field.name == "dimension_type" %}
                                    <a href="#" class="js-create-type related-widget-wrapper-link add-related" data-type="dimension_type" id="add_id_type" title="Add another Dimension"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
                                {% endif %}
                                {% render_field field placeholder=field.label %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary btn-block" value="Edit">
                            </div>
                            <div class="col-md-6">
                                <a href="#" name="delete_dimension" data-id="{{ dimension_id }}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!-- THE MODAL WE WILL BE USING -->
        <div class="modal fade" id="modal-type">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>

    </div>

{% endblock %}